{% load static %}
{% block content %}
{% include 'header.html' %}



<div class="second_portion" >
  <div class="container second_portion2">
      <div class="row">
          <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
              <img src="{% static 'image/3711309.png' %}" class="d-block w-100 img" alt="..." ><br>
          </div>
          <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <h4 class="second">A Student Support System</h4><br>
              <h1 class="second1">STUDENT COMPLAINT BOX</h1>
              <p 
              class="Paragarph1">The computerized complaint management system provides students with a safe space to express their concerns without the fear of consequence.<br>"We believe that open communication is vital, and our complaint box is designed to ensure everyone's opinions are heard."
              </p>
          </div>
      </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<br>
<div class="container third_portion"><br>
  <h1 class="third_head">LEARN ABOUT US-----</h1><br><br>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
          <div class="container">
              <div class="row third_portion1">
              <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="{% static 'image/shutterstock_1869353587.jpg' %}" class="rounded mx-auto d-block student_img " alt="..." style="width: 450px;height: 350px;"></div>
                  <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <h1 class="head4">A Helpful Approach to Students</h1><br>
                      Welcome to our Student Complaint Box! We are dedicated to ensuring that your voice is heard and your concerns are addressed.
                      Our mission is to provide a safe and confidential space for students to express their feedback and concerns about the school environment.
                      At Student Complaint Box, we believe that open communication is the key to creating a better educational experience.
                    </div>
                  </div>
              </div><br><br>
            </div>
        </div>
      </div>
    </div>
    <h1 class="head5">--------MORE ABOUT US--------</h1><br>
    <h1 class="head6">Our Specialities</h1><br><br>
    <div class="container ">
      <div class="row ">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
          <div class="card card_section" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title card_titles">Secure</h5>
              <p class="card-text text_style">Security of data is of utmost importance, and every effort is made to ensure the confidentiality and integrity of the information provided. We employ industry-standard security measures to protect data against unauthorized access.</p>
            </div>
          </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
          <div class="card card_section" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title card_titles">Private</h5>
              <p class="card-text text_style">Data privacy is a fundamental right and a critical aspect of the digital age. It encompasses the protection of individuals' personal information, ensuring that their data is collected, processed, and stored responsibly and securely.</p>
            </div>
          </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
          <div class="card card_section" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title card_titles">Open</h5>
              <p class="card-text text_style">
                  Opening your complaints is a fundamental step towards resolving issues and improving any system or organization. By expressing your concerns and feedback, you contribute to positive change and better outcomes. </p>
          </div>
        </div>
      </div>
    </div></div><br>

    
{% include 'footer.html' %}

{% endblock %}